@use 'variables' as var;
@use 'mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var.$font-sm;
  font-weight: 300;
  color: var.$grayishBlue;
  line-height: 1.3;
  overflow-x: hidden;

  @include mixins.breakpoint-up(large) {
    font-size: var.$font-md;
  }

  &.noscroll {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  margin-bottom: 2.4rem;
  font-weight: 300;
  line-height: 1.15;
  color: var.$darkBlue;
}

h1 {
  font-size: 3.7rem;

  @include mixins.breakpoint-up(large) {
    font-size: var.$font-xlg;
  }
}

h2 {
  font-size: 3rem;

  @include mixins.breakpoint-up(large) {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }
}

h3 {
  font-size: 2rem;

  @include mixins.breakpoint-up(large) {
    font-size: 2.4rem;
  }
}

p {
  margin-bottom: 3.6rem;
  line-height: 1.5;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Spacing
.container {
  max-width: 111rem;
  margin: 0 auto;

  &--pall {
    padding-top: 7rem;
    padding-right: 2.4rem;
    padding-bottom: 7rem;
    padding-left: 2.4rem;

    @include mixins.breakpoint-up(large) {
      padding-top: 9.6rem;
      padding-bottom: 9.6rem;
    }
  }

  &--px {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  &--py {
    padding-top: 7rem;
    padding-bottom: 7rem;

    @include mixins.breakpoint-up(large) {
      padding-top: 9.6rem;
      padding-bottom: 9.6rem;
    }
  }

  &--pt {
    padding-top: 7rem;

    @include mixins.breakpoint-up(large) {
      padding-top: 9.6rem;
    }
  }

  &--pr {
    padding-right: 2.4rem;
  }

  &--pb {
    padding-bottom: 7rem;

    @include mixins.breakpoint-up(large) {
      padding-bottom: 9.6rem;
    }
  }

  &--pl {
    padding-left: 2.4rem;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Buttons
button {
  position: relative;
  padding: 1.4rem 3.5rem;
  border: none;
  font-weight: 400;
  font-size: var.$font-sm;
  background: linear-gradient(to right, var.$limeGreen, var.$brightCyan);
  color: var.$white;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: opacity 300ms ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

// Visibility
.hide-for-mobile {
  @include mixins.breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include mixins.breakpoint-up(large) {
    display: none;
  }
}
