@use 'variables' as var;

.header {
  &.open {
    .overlay,
    .header__menu {
      visibility: visible;
    }

    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(var.$darkBlue, transparent);
  }

  nav {
    position: relative;
    background-color: var.$white;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }

  &__logo {
    img {
      width: 14.1rem;
      height: 2.2rem;
    }
  }

  &__toggle {
    > span {
      width: 26px;
      height: 2px;
      display: block;
      background-color: var.$darkBlue;
      transition: all var.$trans-300;
      transform-origin: 4px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    visibility: hidden;
    position: absolute;
    width: calc(100% - 4.8rem);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2.4rem;
    padding: 2.6rem;
    background-color: var.$white;
    border-radius: 5px;

    a {
      padding: 1rem;
      display: block;
      text-align: center;
      color: var.$darkBlue;
    }
  }

  &__links {
    a {
      position: relative;
      font-size: var.$font-sm;
      color: var.$grayishBlue;
      transition: color var.$trans-300;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 5px;
        background: linear-gradient(to right, var.$limeGreen, var.$brightCyan);
        left: 0;
        right: 0;
        bottom: -30px;
        opacity: 0;
        transition: opacity var.$trans-300;
      }

      &:hover {
        color: var.$darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
